﻿@model sklad.Models.Objednavka

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Objednavka</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.jmeno)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.jmeno)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.adresa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.adresa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.datum)
        </dt>
        <dd class="col-sm-10">
            @(((DateTime)Model.datum).ToShortDateString())
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.cena)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.cena)
        </dd>
    </dl>

    <div>
        <h4>Položky</h4>
        <table class="table table-bordered table-hover">
            <tr>
                <td class="font-weight-bold">@Html.DisplayNameFor(model => model.produkty[0].nazev)</td>
                <td class="font-weight-bold">@Html.DisplayNameFor(model => model.produkty[0].cena)</td>
            </tr>
            @foreach (var prod in Model.produkty)
            {
                <tr>
                    <td>@prod.nazev</td>
                    <td>@prod.cena</td>
                </tr>
            }
        </table>
    </div>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
