﻿@model sklad.Models.Objednavka

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Objednavka</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.jmeno)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.jmeno)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.adresa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.adresa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.datum)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.datum)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.cena)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.cena)
        </dd>
    </dl>

    <div>
        <h4>Položky</h4>
        <table class="table table-bordered table-hover">
            <tr>
                <td class = "font-weight-bold">@Html.DisplayNameFor(model => model.produkty[0].nazev)</td>
                <td class = "font-weight-bold">@Html.DisplayNameFor(model => model.produkty[0].cena)</td>
            </tr>
            @foreach (var prod in Model.produkty)
            {
                <tr>
                    <td>@prod.nazev</td>
                    <td>@prod.cena</td>
                </tr>
            }
        </table>
    </div>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
