﻿@model sklad.Models.Objednavka

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Objednavka</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="jmeno" class="control-label"></label>
                <input asp-for="jmeno" class="form-control" />
                <span asp-validation-for="jmeno" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="adresa" class="control-label"></label>
                <input asp-for="adresa" class="form-control" />
                <span asp-validation-for="adresa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="datum" class="control-label"></label>
                <input asp-for="datum" class="form-control" type="date" />
                <span asp-validation-for="datum" class="text-danger"></span>
            </div>

            <div>
                <h4>Položky</h4>
                <table class="table table-bordered table-hover">
                    <tr>
                        <td class="font-weight-bold">@Html.DisplayNameFor(model => model.produkty[0].nazev)</td>
                        <td class="font-weight-bold">@Html.DisplayNameFor(model => model.produkty[0].cena)</td>
                        <td>&nbsp;</td>
                    </tr>
                    @foreach (var prod in Model.produkty)
                    {
                    <tr>
                        <td>@prod.nazev</td>
                        <td>@prod.cena</td>
                        <td>
                            <button type="submit" name="DeleteProdukt" value="@prod.Id">DeleteProdukt</button>
                        </td>
                    </tr>
                    }
                    <tr>
                        <td>
                            <select id="productCategory" name="Id_produkt" class="form-control" width="100%">
                                @foreach (var prod in Model.vsetkyProdukty)
                                {
                                    <option value="@prod.Id">@prod.nazev</option>
                                }
                            </select>
                        </td>
                        <td>&nbsp;</td>
                        <td>
                            <button type="submit" name="AddProdukt" value="Addprodukt">AddProdukt</button>
                        </td>
                    </tr>
                </table>
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
