﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Vitajte</h1>
    <p>Testovací sklad v ASP.NET Core. Zdrojové kódy na <a href="https://gitlab.com/TrSek/sklad">https://gitlab.com/TrSek/sklad</a>.</p>
</div>
